<%- include('components/header.ejs') %>

    <h1>Welcome to <%= title %> page</h1>

    <label>List of products</label>

    <ul>
        <% products.forEach(product=> { %>
            <li>
                <%= product.title %>
            </li>
            <% }) %>
    </ul>
    <h1>Hekkwi</h1>